In [ ]:
import dapla as dp
import pandas as pd

In [ ]:
df = pd.DataFrame({
    "Integer" : [1, 2, 3],
    "Integer64": [6189, 6190, 6191],
    "Float64": [6189.0, 6189.1, 6189.2],
    "Mixed" : [1, "a", 7.1],
    "String" : ['A', 'B', 'C'],
    "NumericCat" : ['1234', '0123', '0012']
})

In [ ]:
# Vi mister category-dtype p√• kolonner hvor kategoriene er numeriske...
for col in ['Integer64', "Float64", 'NumericCat']:
    df[col] = df[col].astype('category')

In [ ]:
# Category-dtype bevares om kategoriene er strings
#for col in ['Integer64', "Float64", 'NumericCat']:
#    df[col] = df[col].astype(str).astype('category')

In [ ]:
df.dtypes

In [ ]:
df['Integer64'].cat.categories

In [ ]:
print(df['Integer64'].cat.categories[0],
     type(df['Integer64'].cat.categories[0]))

In [ ]:
#Produserer en error pga blandede typer i kolonnen
#dp.write_pandas(df, '/felles/carl/dtype_bug', valuation='OPEN', state= 'PROCESSED')

In [ ]:
# Produserer error pga blandete typer
#df['Integer64'].cat.categories = [6189, 6190, "06189"]

In [ ]:
df = df.drop('Mixed', axis = 'columns')

In [ ]:
dp.write_pandas(df, '/felles/carl/dtype_bug', valuation='OPEN', state= 'PROCESSED')

In [ ]:
df2 = dp.read_pandas('/felles/carl/dtype_bug', categories=['Integer64', 'NumericCat', 'Float64'])
#df2 = dp.read_pandas('/felles/carl/dtype_bug', categories=['Integer64', 'Float64'])
df2.dtypes

In [ ]:
df2['Integer64'].cat.categories[0]