# Hent data fra oracle til python
Med pakken cx_Oracle kan vi hente ut data fra oracle-databaser.

In [ ]:
import pandas as pd
import cx_Oracle
import getpass

# Eksempel på et enkelt uttrekk

In [ ]:
# Kobler opp til db1p:
conn = cx_Oracle.connect(getpass.getuser()+"/"+getpass.getpass(prompt='Oracle-passord: ')+"@DB1P")

# Skriver en sql-spørring for å få ut det vi er interessert i:
sql = f"""
    select DELREG_NR, ORGNR_FORETAK, NAVN, KVITT_TYPE, DATO_INNKVITTERING
        from DSBBASE.DLR_ENHET_I_DELREG
        where DELREG_NR = 25240322 and KVITT_TYPE = 'K'
        order by ORGNR_FORETAK
    """

# Lagrer resultatet som en dataframe:
df = pd.read_sql_query(sql, conn)

# Lukker oppkoblingen:
conn.close()

In [ ]:
df

# Lag parametere i sql-spørringen med bind variable
Les mer om hvorfor det må gjøres på denne måten her: https://cx-oracle.readthedocs.io/en/latest/user_guide/bind.html

In [ ]:
# Hvordan man unngår hardkoding i sql-spørringen

def henter_oracledata(delreg, kvitt):
    # Kobler opp til db1p:
    conn = cx_Oracle.connect(getpass.getuser()+"/"+getpass.getpass(prompt='Oracle-passord: ')+"@DB1P")

    # Skriver en sql-spørring for å få ut det vi er interessert i:
    sql = f"""
        select DELREG_NR, ORGNR_FORETAK, NAVN, KVITT_TYPE, DATO_INNKVITTERING
            from DSBBASE.DLR_ENHET_I_DELREG
            where DELREG_NR = {delreg} and KVITT_TYPE = '{kvitt}'
            order by ORGNR_FORETAK
        """
    # Lagrer resultatet som en dataframe:
    df = pd.read_sql_query(sql, conn)

    return df

    # Lukker oppkoblingen:
    conn.close()

df = henter_oracledata(delreg=25240322, kvitt='M')

In [ ]:
df

# Hent data fra dynarev
Det er blitt laget en funksjon som henter ned dataene dine fra dynarev.

In [ ]:
import sys 
sys.path.append('/ssb/bruker/felles/oracle_to_py')
from dynarev_to_py import dynarev_uttrekk

In [ ]:
df = dynarev_uttrekk('25240322', 'RA-0297')

In [ ]:
df

In [ ]:
df2, df3 = dynarev_uttrekk('25240322', 'RA-0297', False, True)

In [ ]:
df2