In [ ]:
import pandas as pd
import dapla as dp
dp.show('/felles/veiledning/r/eksempler/ytelser')
df = dp.read_pandas('/felles/veiledning/r/eksempler/ytelser')

In [ ]:
df

### Corr
Korrelasjon mellom numeriske variabler

### Crosstab
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.crosstab.html \
Krysstabuler to variabler til en ny 2-dimensjonal tabell

### Cut
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.cut.html \
Nyttig om du vil dele opp datasettet i ett gitt antall "bins"

In [ ]:
# Del opp i høy, middel og lav ytelse, ved 10 og 100 mill
df['utbetalt_grad'] = pd.cut(df['utbetalt_mill_kr'], 
                             # Tar en serie inn, og passer en serie tilbake
                             # Vi bruker uendelig minus og pluss, som nedre og øvre "bound"
                             [-float("inf"), 10, 100, float("inf")], 
                             # Labels må være i samme rekkefølge som boundene
                             labels=["lav", "medium", "høy"])
# Se på hvor mange rader vi får i hver kategori
df['utbetalt_grad'].value_counts()

### Describe
Analyser numeriske verdier

### Eval
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.eval.html

### Factorize
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.factorize.html

### Get_dummies
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.get_dummies.html

### Infer_freq
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.infer_freq.html

### Info
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.info.html \
Print a concise summary of a DataFrame.

### Interval_range
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.interval_range.html

### Iterrows

### Merge_ordered
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.merge_ordered.html

### Merge_asof
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.merge_asof.html

### Period_range
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.period_range.html

### Qcut
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.qcut.html

### Wide_to_long
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.wide_to_long.html